src/main/webapp/WEB-INF/ExampleService.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             xmlns:s0="http://devbox/2012/03/Service"
             name="ExampleService" targetNamespace="http://devbox/2012/03/Service"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <xs:schema elementFormDefault="qualified" targetNamespace="http://devbox/2012/03/Service"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="Hello">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="HelloResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="HelloResult" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="string" nillable="true" type="xs:string"/>
        </xs:schema>
    </types>
    <message name="HelloSoapIn">
        <part name="parameters" element="s0:Hello"/>
    </message>
    <message name="HelloSoapOut">
        <part name="parameters" element="s0:HelloResponse"/>
    </message>
    <portType name="ExampleServiceSoap">
        <operation name="Hello">
            <input message="s0:HelloSoapIn"/>
            <output message="s0:HelloSoapOut"/>
        </operation>
    </portType>
    <portType name="ExampleServiceSoap12">
        <operation name="Hello">
            <input message="s0:HelloSoapIn"/>
            <output message="s0:HelloSoapOut"/>
        </operation>
    </portType>
    <binding name="ExampleServiceSoap" type="s0:ExampleServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Hello">
            <soap:operation soapAction="http://devbox/2012/03/Service/Hello" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="ExampleServiceSoap12" type="s0:ExampleServiceSoap12">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Hello">
            <soap12:operation soapAction="http://devbox/2012/03/Service/Hello" style="document"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="ExampleService">
        <port name="ExampleServiceSoap" binding="s0:ExampleServiceSoap">
            <soap:address location="http://127.0.0.1:8081/ExampleService.asmx"/>
        </port>
        <port name="ExampleServiceSoap12" binding="s0:ExampleServiceSoap12">
            <soap12:address location="http://127.0.0.1:8081/ExampleService.asmx"/>
        </port>
    </service>
</definitions>